 .card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 

.card {
  width: 20vw;
  margin: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 15px;
}

.car-container {
  margin: 40px;
}

.car-paper {
  padding: 50px;
}